.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 60%;
  width: 30%;
}
.not-found-heading {
  font-family: 'Roboto';
  color: #183b56;
  font-weight: bold;
}
.not-found-line {
  font-family: 'Roboto';
  color: #5a7184;
  font-size: 18px;
}
